:root {
  --clr-bg: rgb(0, 33, 105);
  --font-p: "Cuprum", sans-serif;
  --clr-txt: rgb(1, 33, 105);
  --clr-bg2: #4c84ac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

/* ------------------------------------
navigatiebalk en -menu
------------------------------------ */

.navbar {
  width: 100vw;
  background-color: var(--clr-bg);
  position: fixed;
  text-align: right;
  z-index: 99;
}

.navbar button {
  border: none;
  background: var(--clr-bg);
  font-size: 1em;
  font-weight: 600;
  color: white;
  padding: 1em;
}

nav {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;

  display: none;
}

nav ul {
  list-style-type: none;
  font-size: 2em;
  font-family: var(--font-p);
  display: flex;
  flex-direction: column;
  align-items: space-around;
  text-align: center;
}

nav li {
  margin: 1em;
}

/* ------------------------------------
Hero
------------------------------------ */

header div {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/Sourcyheader.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 5em;
  border-radius: 0 0 70% 70% / 0 0 5em 5em;
}

header div img {
  width: 25%;
}

/* ------------------------------------
Main
------------------------------------ */

main {
  line-height: 22px;
  font-family: var(--font-p), sans-serif;
  color: var(--clr-txt);
}

section {
  padding: 0em 1.25em;
}
section ~ section {
  margin: 5em 0;
}

/* ------------------------------------
section intro
------------------------------------ */

section:nth-of-type(1) > img {
  transform: translateY();
  z-index: -1;
}

section:nth-of-type(1) h1 {
  font-size: 2em;
  line-height: 1em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

/* ------------------------------------
section Producten
------------------------------------ */

section:nth-of-type(2) ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  overflow-x: scroll;
  width: 300vw;
}

section:nth-of-type(2) li {
  width: 300px;
  height: 300px;
  flex-grow: 1;
  display: block;
}

.producten-slider a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  background-color: var(--clr-bg);
  padding: 0.5em 1em;
  border-radius: 2em;
}

/* ------------------------------------
section Bron
------------------------------------ */

section:nth-of-type(3) {
  background-color: var(--clr-bg2);
  text-align: center;
  color: white;
  padding: 5em 1em;
}

section:nth-of-type(3) h2 {
  margin: 1em;
  font-size: 2em;
}

section:nth-of-type(3) p {
  font-size: 1.2em;
  line-height: 1.25em;
  margin: 2em;
}
section:nth-of-type(3) a {
  background: white;
  padding: 1em 2em;
  text-decoration: none;
  margin: 2em;
  border-radius: 2em;
  color: var(--clr-txt);
}
